/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.03.2015, 17:59:23
    Author     : ubka
*/
.container-search {
    background-color: #E7E7E7;
    border-color: #E7E7E7;
}

.navbar-brand {
    padding:8px;
}

/** Icon mapping */



.glyphicon-add:before {
    content: "\e081";
}

.glyphicon-template:before {
    content: "\e118";
}


.tab-content {
    border: 1px solid #ddd;
    border-top: none;
}

/* Login Form */


.login-form {
    margin-top: 60px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}

.qtip-content .invisible {
    visibility: visible !important;
}

.qtip-content {
    font-size:10px;
}