/**
 * This file is to customize the Template
 **/

body {
    border-top: 5px solid #70be44;
}

.container-search {
    background-image: url("../images/imagedoc-darknoise.png");
}

.navbar-brand {
    height:76px;
}


.navbar-brand img {
    height:60px!important;
}

.navbar-form {
    margin-top:20px;
}

footer {
    margin-top:50px;
    padding:10px;
}