/**
 * This file is to customize the Template
 **/

body {
    padding-top:133px;
}

.tooltip-box {
    display: none;
}

.navbar-form {
    margin-top:20px;
}

footer {
    margin-top:50px;
    padding:10px;
}

.link.glyphicon-plus-sign {
    display:none;
}

.navbar-brand {
    margin-top:10px;
}

div[id^=notif_]{
    display: none;
}

hr {
    display: none;
}
