/**
 * This file is to customize the Template
 **/

.container-search {
    background-image: url("../images/imagedoc-darknoise.png");
    border-bottom: 5px solid #a0a0a0;
}

footer {
    margin-top:50px;
    padding:10px;
}